<header class="header">
  <div class="header__blackout"></div>
  <a href="#" class="header__inst">#hotdogs</a>
  <div class="header__row">
    <app-banner-img [img]="'./assets/img/blocks/home/banner-01.png'"></app-banner-img>
    <app-banner-img [img]="'./assets/img/blocks/home/banner-02.png'"></app-banner-img>
    <app-banner-img [img]="'./assets/img/blocks/home/banner-03.png'"></app-banner-img>
    <app-banner-img [img]="'./assets/img/blocks/home/banner-04.png'"></app-banner-img>
    <app-banner-img [img]="'./assets/img/blocks/home/banner-05.png'"></app-banner-img>
    <app-banner-img [img]="'./assets/img/blocks/home/banner-11.png'"></app-banner-img>
  </div>
  <div class="header__row">
    <app-banner-img [img]="'./assets/img/blocks/home/banner-06.png'"></app-banner-img>
    <app-banner-img [img]="'./assets/img/blocks/home/banner-07.png'"></app-banner-img>
    <app-banner-img [img]="'./assets/img/blocks/home/banner-08.png'"></app-banner-img>
    <app-banner-img [img]="'./assets/img/blocks/home/banner-09.png'"></app-banner-img>
    <app-banner-img [img]="'./assets/img/blocks/home/banner-10.png'"></app-banner-img>
    <app-banner-img [img]="'./assets/img/blocks/home/banner-12.png'"></app-banner-img>
  </div>
</header>
