.contacts {
  padding: 60px 0 25px;

  h1 {
    font: {
      size: 32px;
      weight: 300;
    };

    text-align: center;
    color: #555559;
    margin-bottom: 85px;
  }

  .contacts__form {
    text-align: center;

    .form {
      display: inline-block;
      text-align: left;

      .form__elem {
        display: flex;
        margin-bottom: 8px;

        label {
          width: 150px;
          margin-top: 5px;
          font-size: 13px;
        }

        .form__field {
          width: 300px;

          .form__input,
          .form__textarea {
            display: block;
            width: 100%;
          }

          .form__input {
            height: 32px;
            padding: 0 10px;
          }

          .form__textarea {
            resize: none;
            height: 70px;
            padding: 10px;
          }
        }

        .btn--blue {
          cursor: pointer;
          border: 0;
          margin-top: 20px;

          &[disabled] {
            opacity: .5;
            background-color: #286782;
          }
        }

        .form__field-error {
          text-align: center;
          padding: 10px 0;
          color: #f00;
        }

        &.form__elem--submit {
          justify-content: center;
        }
      }

      .form__message {
        text-align: center;
        font: {
          weight: 600;
        };
        padding: 15px 0;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .contacts .contacts__form .form .form__elem {
    flex-direction: column;
  }

  .contacts .contacts__form .form .form__elem label {
    margin-bottom: 8px;
  }

  .contacts .contacts__form .form .form__elem .form__field {
    width: 100%;
  }
}
